html, body {
    margin: 0;
    padding: 0;
}

.bar-chart {
    background-color: #C7D9D9;
}

.styleOrange {
    background-color: orange;
}

.line {
	background-color: black;
}

.bar {
     fill: #115D8C;
     }
